<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="skills.css">
    <title>Fathima Ansar | Skills</title>
</head>

<body>
    
<header>
    <h1>Welcome to My Portfolio!</h1>
   
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="main.html" >About Me</a></li>
            <li><a href="skills.html" class="active">Skills</a></li>
            <li><a href="projects.html">Projects</a></li>

        </ul>
    </nav>
</header>
<div class="content">
    <div class="body-part-1">
        <h2>My Skills</h2>
        <p>Python<br/>HTML <br/>CSS<br/>Javascript<br/>React.js<br/>Node.js <br>Firebase <br>Github</p>
        
    </div>
  
<div class="body-part-2">
    <div class="hoodie-guy-animation-class">
        <div class="hoodie-guy"></div>
        <div class="circle">
            <!-- <span style="--i:1;"><img src="assets/SVGIcons/flutter.svg" height="75px"></span> -->
            <span style="--i:1;"><img src="assets/SVGIcons/python.svg" height="75px"></span>
            <!-- <span style="--i:3;"><img src="assets/SVGIcons/adobe-photoshop.svg" height="75px"></span> -->
            <span style="--i:3;"><img src="assets/SVGIcons/nodejs.png" height="75px"></span>
            <!-- <span style="--i:5;"><img src="assets/SVGIcons/adobe-premiere-pro.svg" height="75px"></span> -->
            <span style="--i:5;"><img src="assets/SVGIcons/html-5.svg" height="70px"></span>
            <span style="--i:7;"><img src="assets/SVGIcons/react.png" height="75px"></span>
            <span style="--i:9;"><img src="assets/SVGIcons/css3.svg" height="70px"></span>
            <span style="--i:11;"><img src="assets/SVGIcons/javascript.svg" height="75px"></span>
            <!-- <span style="--i:10;"><img src="assets/SVGIcons/adobe-illustrator.svg" height="75px"></span> -->
            <!-- <span style="--i:11;"><img src="assets/SVGIcons/dart.svg" height="75px"></span>
            <span style="--i:12;"><img src="assets/SVGIcons/PostgreSQL-Dark.svg" height="75px"></span>
            <span style="--i:13;"><img src="assets/SVGIcons/MySQL-Dark.svg" height="75px"></span> -->
            <span style="--i:13;"><img src="assets/SVGIcons/Firebase-Dark.svg" height="75px"></span>
            <span style="--i:15;"><img src="assets/SVGIcons/Github-Dark.svg" height="75px"></span>
        </div>
    </div>
    <div class="background-circle"></div>
</div>

</div>
   
</body>
</html>